Repository GalacticCoalition/Warhammer-SS40K, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modifcation, Sprites

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update gbp-balances.toml
  .github/gbp-balances.toml
Labels: none

initialrename
  .github/PULL_REQUEST_TEMPLATE.md
  .github/gbp-balances.toml
  code/__DEFINES/jobs.dm
  code/controllers/subsystem/nightshift.dm
  code/datums/ai_laws/laws_neutral.dm
  code/datums/ert.dm
  code/modules/cargo/packs/security.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/mob/dead/new_player/new_player.dm
  config/game_options.txt
  modular_skyrat/master_files/code/modules/paperwork/employment_contract.dm
  modular_skyrat/module_template.md
  modular_skyrat/readme.md
  skyrat/tools/merge-upstream-pull-request.sh
  skyrat/tools/skyrat_check_grep.sh
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Create skyrat_check_grep.sh
  skyrat/tools/skyrat_check_grep.sh
Labels: none

removes unneeded maps
  _maps/_basemap.dm
  _maps/birdshot.json
  _maps/blueshift.json
  _maps/deltastation.json
  _maps/kilostation.json
  _maps/metastation.json
  _maps/northstar.json
  _maps/tramstation.json
  _maps/voidraptor.json
  tgstation.dme
Labels: Map Modifcation

Update tgstation.dme
  tgstation.dme
Labels: none

clown/mime
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/mime.dm
  config/jobconfig.toml
Labels: none

Update jobs.dm
  code/__DEFINES/jobs.dm
Labels: none

basic walls
  code/game/turfs/closed/wall/warhammer_walls.dm
  code/game/turfs/open/floor/plating.dm
  code/game/turfs/open/floor/warhammer_floors.dm
  code/modules/mob/dead/new_player/new_player.dm
  icons/effects/warpstorm.dmi
  icons/turf/floors.dmi
  icons/turf/floors/warhammer_floors.dmi
  icons/turf/walls/warhammer_concrete.dmi
  icons/turf/walls/warhammer_concrete.png
  icons/turf/walls/warhammer_grim.dmi
  icons/turf/walls/warhammer_grim.png
  icons/turf/walls/warhammer_reinforced.png
  icons/turf/walls/warhammer_techno.dmi
  icons/turf/walls/warhammer_techno.png
  tgstation.dme
Labels: Sprites

UI CHANGES
  code/modules/client/preferences/ui_style.dm
  code/modules/mob/dead/new_player/new_player.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferenceWindow.tsx
Labels: none

Update strippable.dm
  code/datums/elements/strippable.dm
Labels: none

titlescreen stuff
  _maps/_basemap.dm
  config/game_options.txt
  config/skyrat/title_html.txt
  html/browser/Gothica-Bold.ttf
  modular_skyrat/modules/title_screen/code/_title_screen_defines.dm
  modular_skyrat/modules/title_screen/code/new_player.dm
  modular_skyrat/modules/title_screen/icons/glitched_Icon.gif
Labels: Map Modifcation

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/byond_world_export.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: none

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/byond_world_export.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: none

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/byond_world_export.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: none

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/byond_world_export.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: none

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/byond_world_export.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: none

Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/byond_world_export.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: none

.github/labeler.yml:

# Changes to a .dmm or anything in the _map subfolder
Map Modifcation:
  - '_maps/**'

# Chganges to a .dmi
Sprites:
- '**/*.dmi'
